MoviesManagementMicroservice/.vs/
MoviesManagementMicroservice/MoviesManagementMicroservice/bin/
MoviesManagementMicroservice/MoviesManagementMicroservice/obj/

BlazorMovieRecommendationApp/.vs/
BlazorMovieRecommendationApp/BlazorMovieRecommendationApp/bin/
BlazorMovieRecommendationApp/BlazorMovieRecommendationApp/obj/