MoviesManagementMicroservice/.vs/
MoviesManagementMicroservice/MoviesManagementMicroservice/bin/
MoviesManagementMicroservice/MoviesManagementMicroservice/obj/

BlazorMovieRecommendationApp/.vs/
BlazorMovieRecommendationApp/BlazorMovieRecommendationApp/bin/
BlazorMovieRecommendationApp/BlazorMovieRecommendationApp/obj/


UserManagementMicroservice/.vs/
UserManagementMicroservice/UserManagementMicroservice/bin/
UserManagementMicroservice/UserManagementMicroservice/obj/


SearchingMovieMicroservice/.vs/
SearchingMovieMicroservice/SearchingMovieMicroservice/bin/
SearchingMovieMicroservice/SearchingMovieMicroservice/obj/

SearchingMovieMicroservice/.vs/
SearchingMovieMicroservice/ML-TestPredML.ConsoleApp/bin/
SearchingMovieMicroservice/ML-TestPredML.ConsoleApp/obj/

SearchingMovieMicroservice/.vs/
SearchingMovieMicroservice/ML-TestPredML.Model/bin/
SearchingMovieMicroservice/ML-TestPredML.Model/obj/