MoviesManagementMicroservice/.vs/
MoviesManagementMicroservice/MoviesManagementMicroservice/bin/
MoviesManagementMicroservice/MoviesManagementMicroservice/obj/

BlazorMovieRecommendationApp/.vs/
BlazorMovieRecommendationApp/BlazorMovieRecommendationApp/bin/
BlazorMovieRecommendationApp/BlazorMovieRecommendationApp/obj/


UserManagementMicroservice/.vs/
UserManagementMicroservice/UserManagementMicroservice/bin/
UserManagementMicroservice/UserManagementMicroservice/obj/Debug


SearchingMovieMicroservice/.vs/
SearchingMovieMicroservice/SearchingMovieMicroservice/bin/
SearchingMovieMicroservice/SearchingMovieMicroservice/obj/

SearchingMovieMicroservice/.vs/
SearchingMovieMicroservice/ML-TestPredML.ConsoleApp/bin/
SearchingMovieMicroservice/ML-TestPredML.ConsoleApp/obj/

SearchingMovieMicroservice/.vs/
SearchingMovieMicroservice/ML-TestPredML.Model/bin/
SearchingMovieMicroservice/ML-TestPredML.Model/obj/
UserManagementMicroservice/UserManagementTests/obj
SearchingMovieMicroService/SeachingMovieMicroserviceTests/bin
SearchingMovieMicroService/SeachingMovieMicroserviceTests/obj
UserManagementMicroservice/UserManagementTests/bin
APIGateway/APIGateway/bin
APIGateway/APIGateway/obj
