@inherits LayoutComponentBase


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <span style="cursor: pointer" onclick="history.go(-1); return false;">
                <span class="oi oi-arrow-thick-left" style="font-size: 1.8em;vertical-align:middle;"></span>
                <span style="margin-left: 10px; font-size:1.3em; vertical-align:middle;">Go Back</span>
            </span>
            <a href="" class="ml-md-auto">Home</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


