@page "/"

<PageTitle Title="Home" />

<div style="height: 100%">
    <a href="/movies/recommended">
        <img src="images/home-background.jpg" alt="Alternate Text"
             style="width: 100%; height: auto;" />
    </a>
    <a href='https://www.freepik.com/vectors/template'>Template vector created by coolvector - www.freepik.com</a>
</div>
